#b1{
    background-color: #5e068a;
    color: white;
    width: 150px;
}

#i1{
    height: 600px;
}

#b2{
    background-color: #5e068a;
    height: 55px;
    width: 200px;
    border-radius: 20px;
    color: white;
    
}

#bm{
    background-color: #5e068a;
    height: 55px;
    width: 200px;
    border-radius: 20px;
    color: white;
}

@media(orientation:portrait)
{
    #b2{
        height: 50px;
        width: 100px;
        font-size: smaller;
        font-weight: lighter;
    }

    #b1{
        width: 75px;
    }

    h1{
        font-size: larger;
    }

    p{
        font-size: smaller;
    }

    button{
        font-size: smaller;
    }

    #bm{
        height: 50px;
        width: 100px;
        font-size: smaller;
        font-weight: lighter;
    }
}